@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);
*{
  font-family: 'Poppins', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.navbar{
  height:var(--primary-hight);
}
.navbar .level-nav-link.nav-link {
  padding: 28px;

}
.navbar .level-nav-link.nav-link {
    padding-right: var(--primary-padding);
    padding-left: var(--primary-padding);
}
.navbar .level-nav-link.nav-link:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border-radius: 20px;
}
.hero {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.form-group {
  position: relative;
  cursor: pointer;
}
.form-group i {
  color: var(--primary-color);
  font-size: var(--text-font-title);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.form-group input {
  padding-left: 40px;
}
.footer {

  padding: 0px;
  text-align:end;
}
section {
  padding: 50px;
  position: relative;
}
.section-color {
  background-color: var(--primary-color);
  color: white;
}
.section-title {
  font-size: 150px;
}
.section-subtitle {
  font-size: 50px;
}
.section-subtitle2 {
  font-size: 30px;
}
.section-down-arrow {
  position: absolute;
  top: 0px;
  width: 100%;
  height: var(--primary-hight);
}
.section-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article {
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  transition: all .3s ease-in;
  border-radius: 20px;
}
.article:hover {
  scale: 1.1;
  box-shadow: 0 0 7px 0 var(--primary-color);
  border-radius: 20px;
}
.article .article-icon {
  font-size: 4rem;
  margin-bottom: 10px;
}
.section-gray {
  background-color: white;
}
.level-slider {
  background-color: white;
}
.level-slider img {
  max-width: 740px;
  max-height: 480px;
}
.level-slider-item-container {
  padding: var(--primary-padding);
}
.level-slider-item h3 {
  font-size: var(--text-font-title);
  color: var(--primary-color);
}
.level-slider p {
  font-size: var(--text-font-size);
  color: black;
}
.hero{
  font-weight:bold;
}
.dropdown-menu{
  background-color: #f3f3f3;
  border: none;
}
.links{
  font-size: 25px;  
}
.links {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.links:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.links:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.article{
  background-color: #f3f3f3;
}
.footer{
 
  position: relative;
  right: 0px; bottom: 0px;
}
.dropdown-item:hover{
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
.dropdown-menu{
  border-radius: 20px;
}
.level-slider-item{
  margin-right: 20px
}
.p-header{
  margin-top: 20px;
  text-align: center;
}
.p-txt{
  margin-left: 20px;
  text-align: center;
}
.page-logo:hover {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.level-slider .btn{
  margin-bottom: 10px;
}
.news-h{
  font-size: 60px;

  position: relative;
  text-align: center;
}
.news-h:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.75s ease-out;
}

.news-h:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.card{
  margin-top: 10px;
  margin-left: 10px;
}
.card-title{
  text-align: center;
}
.card-text{
  text-align: center;
}
.carousel{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.p-svt{
  margin-top: 50px;
  text-align: center;
  border: 1px black;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  transition: all .3s ease-in;
  border-radius: 20px;
}

.p-svt:hover{

  scale: 1.1;
  box-shadow: 0 0 7px 0 #f3f3f3;
  border-radius: 20px;
}