@media(min-width:768px){
  .navbar{
      height:var(--primary-hight);
  }
  .navbar .level-nav-link.nav-link {
      padding: 28px;
  
  }
}
.navbar .level-nav-link.nav-link {
  padding-right: var(--primary-padding);
  padding-left: var(--primary-padding);
}
.navbar .level-nav-link.nav-link:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
.hero {
  background: url(/assets/img/main_bg.jpg) no-repeat center center /cover;
  height: 515px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;
  cursor: pointer;
}
.form-group i {
  color: var(--primary-color);
  font-size: var(--text-font-title);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.form-group input {
  padding-left: 40px; /* adjust as needed */
}
.forgot-acc {
position: absolute;
top: 72%;
left: 50%;
transform: translate(-50%, -50%);
}
.footer {

  padding: 0px;
  text-align:end;
}

    
  
